<!DOCTYPE html>
<html>
<head>
  <title>Dbla</title>
  <%= stylesheet_link_tag    "dbla/application", media: "all" %>
  <%= javascript_include_tag "dbla/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
